<div class="bg-[#3E2723] text-[#F3E5AB] py-8">
    <div class="container mx-auto">
        <div class="grid lg:grid-cols-3 gap-8">
            <div class="flex flex-col space-y-4">
                <span class="font-bold">
                    CÔNG TY TNHH DƯỢC MỸ PHẨM H.DERMA
                    PHÂN PHỐI ĐỘC QUYỀN ELASOME TẠI VIỆT NAM
                </span>
                <div class="flex flex-col space-y-2">
                    <span><strong>Giấy CNĐKDN: </strong> 0314993856</span>
                    <span><strong>Ngày cấp: </strong>  17/04/2018</span>
                    <span><strong>Đ/C ĐKKD: </strong> 1012-1014 Quang Trung, Phường 8, Quận Gò Vấp, TP. Hồ Chí Minh.</span>
                </div>
            </div>
            <div class="flex flex-col space-y-2">
                <span><strong>THỜI GIAN LÀM VIỆC: </strong> 8:00 - 21:00 / Thứ 2 - Chủ nhật</span>
                <span><strong>HOTLINE: </strong>  0911 754 299 - 028 7309 2585</span>
                <span><strong>EMAIL: </strong> info&#64;hderma.vn</span>
            </div>
            <div class="">
                <h2 class="text-xl font-bold mb-4 ">THEO DÕI TẠI</h2>
                <div class="cursor-pointer flex space-x-4 mb-4">
                  <!-- Social Media Icons -->
                  <a href="#" class="w-10 h-10 flex items-center justify-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg" />
                  </a>
                  <a href="#" class="w-10 h-10 flex items-center justify-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" />
                  </a>
                  <a href="#" class="w-10 h-10 flex items-center justify-center bg-white rounded-lg">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/Ionicons_logo-tiktok.svg" />
                  </a>
                </div>
            
                <!-- Certification Section -->
                <div class="flex">
                  <img src="http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoSaleNoti.png" alt="Đã Thông Báo Bộ Công Thương" class="h-16">
                </div>
              </div>
        </div>
        <div class="cursor-pointer my-6 font-semibold flex flex-row space-x-2 items-center justify-center">
            <div class="hover:underline pb-2">Điều kiện chung | </div>
            <div class="hover:underline pb-2">Chính sách thanh toán | </div>
            <div class="hover:underline pb-2">Chính sách bảo mật |</div>
            <div class="hover:underline pb-2">Vận chuyển & Giao hàng |</div>
            <div class="hover:underline pb-2">Chính sách đổi trả |</div>
            <div class="hover:underline pb-2">Chính sách giải quyết khiếu nại</div>
        </div>
    </div>
</div>