<div class="grid lg:grid-cols-4 grid-cols-2 gap-8 p-8">
    @for (item of Listkeyfigures; track item.id; let idx = $index, e = $even, first = $first, last = $last) {
      <div class="flex flex-col space-y-2 items-center text-center">
        <img [src]="item.Image" alt="" srcset="">
        <p class="mt-4 max-w-[15rem] text-lg font-semibold text-[#5D0711]" [innerHTML]="item.Title"></p>
        <p class="mt-4 text-lg font-semibold text-[#5D0711]" [innerHTML]="item.Desc"></p>
        <!-- <p class="text-[#3E2723]" [innerHTML]="item.Desc"></p> -->
      </div>
      }
</div>
