<mat-drawer-container class="w-full h-full" autosize>
    <mat-drawer #drawer class="flex flex-col {{isFullScreen?'lg:!w-full':'lg:!w-3/4'}} !w-screen h-full" [position]="'end'">
        <router-outlet></router-outlet>
    </mat-drawer>
    <div class="flex flex-col space-y-2 h-screen-16 w-full justify-between p-2">
        <div class="relative flex flex-col space-y-2 w-full h-full">
                <div class="w-full flex flex-row space-x-2 items-center">
                    <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
                        <mat-label>Tìm Kiếm</mat-label>
                        <input matInput (keyup)="applyFilter($event)" #input />
                        <mat-icon matPrefix>search</mat-icon>
                    </mat-form-field>           
                    <button mat-icon-button color="primary" (click)="openCreateDialog(dialogCreateTemplate)"><mat-icon>add</mat-icon></button>
                </div>
                <div class="flex flex-row space-x-2 items-center">
                    <span class="whitespace-nowrap p-2 rounded-lg bg-slate-200">
                        {{CountItem}}
                    </span>
                </div>       
            <div class="relative w-full overflow-auto cursor-pointer">
                @for (item of ListHotro(); track $index) {
                    <div [routerLink]="[item.id]" routerLinkActive="bg-slate-100"  class="flex flex-row space-x-2 items-center hover:bg-slate-100 rounded-lg">
                        @if(item?.Nguoitao?.avatar) {
                            <img src="{{item?.Nguoitao?.avatar?.url}}" class="w-8 h-8 rounded-full" />
                        }
                        @else {
                            <span class="text-[48px] material-symbols-outlined"> account_circle</span>
                        }
                        <div class="w-full flex flex-col space-y-1 p-2">
                            <div class="w-full flex flex-row items-center space-x-2 justify-between">
                                <div class="text-xs italic">{{item?.Nguoitao?.name||'Chưa Có Tên'}}</div> 
                                <span class="text-sm material-symbols-outlined">attachment</span>
                                <div class="text-xs italic">{{item?.CreateAt|date:'dd/MM/yyyy'}}</div>
                            </div>
                            <div class="font-bold">{{item.Title}}</div>
                            <div>{{item.Mota||"Không có mô tả"}}</div>
                        </div>
                    </div>

                }
                <div>

                </div>
            </div>
        </div>
    </div>
</mat-drawer-container>

<ng-template #dialogCreateTemplate>
    <h2 mat-dialog-title>Tạo Mới Hỗ Trợ</h2>
    <mat-dialog-content>
     <div class="w-full h-full flex flex-col space-y-8 items-center p-4">
         <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
            <mat-label>Tiêu Đề</mat-label>
            <input matInput [(ngModel)]="Detail.Title" [ngModelOptions]="{ standalone: true }" placeholder="Vui lòng Nhập Tiêu Đề" />
         </mat-form-field>
         
         <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
           <mat-label>Danh Mục</mat-label>
           <mat-select [(ngModel)]="Detail.Type" [ngModelOptions]="{ standalone: true }">
             <div class="w-full flex flex-col">
               <mat-form-field appearance="outline" class="w-full p-2" subscriptSizing="dynamic">
                 <input matInput (input)="DoFindKhachhang($event)" placeholder="Tìm Kiếm" />
               </mat-form-field>
               <div class="overflow-y-auto max-h-44">
                 @for (item of FilterListType; track item.id) {
                   <mat-option [value]="item.value">{{item.Title}}</mat-option>
                  }
                  @empty {
                   <div class="p-2 text-center text-red-700 font-bold">Không tìm thấy dữ liệu.</div>
                 }
               </div>
             </div>
           </mat-select>
         </mat-form-field>
     </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-flat-button color="primary" (click)="create()">Tạo</button>
      <button mat-flat-button color="warn" mat-dialog-close="false">Đóng</button>
    </mat-dialog-actions>
  </ng-template>