<mat-drawer-container class="w-full h-full" autosize>
    <mat-drawer #drawer class="flex flex-col {{isFullScreen?'lg:!w-full':'lg:!w-2/3'}} !w-screen h-full" [position]="'end'">
        <router-outlet></router-outlet>
    </mat-drawer>
    <div class="flex flex-col space-y-2 h-screen-16 w-full justify-between">
        <div class="relative flex flex-col space-y-2 w-full h-full p-2">
                <div class="w-full flex flex-row space-x-2 items-center">
                    <div *ngIf="isSearch" class="w-full flex flex-row space-x-2 items-center">
                        <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
                            <mat-label>Tìm Kiếm</mat-label>
                            <input class="!rounded-lg" matInput (keyup)="applyFilter($event)" #input />
                        </mat-form-field>
                        <button matTooltip="Đóng" color="primary" (click)="isSearch=!isSearch"
                        mat-icon-button><mat-icon>close</mat-icon></button>
                    </div>
                    <div *ngIf="!isSearch" class="flex flex-row space-x-2 items-center">
                        <button matTooltip="Thêm mới" (click)="openCreateDialog(dialogCreateTemplate)" color="primary"
                            mat-icon-button><mat-icon>add_circle</mat-icon></button>
                        <button  matTooltip="Tìm Kiếm" color="primary" (click)="isSearch=!isSearch"
                            mat-icon-button><mat-icon>search</mat-icon></button>
                        <button  matTooltip="Tải file excel Mẫu" (click)="writeExcelFile()" color="primary"
                            mat-icon-button><mat-icon>file_download</mat-icon></button>
                        <button  matTooltip="Tải lên file excel" (click)="uploadfile.click()" color="primary"
                            mat-icon-button><mat-icon>file_upload</mat-icon></button>
                        <input class="hidden" (change)="readExcelFile($event)" type="file" #uploadfile>
                        <button  matTooltip="Tải dữ liệu từ drive" (click)="LoadDrive()" color="primary"
                            mat-icon-button><mat-icon>cloud_download</mat-icon></button>
                    </div>
                </div>

                <div class="flex flex-row space-x-2 items-center cursor-pointer">
                @for (item of FilterListType; track item.id; let idx = $index) {
                    <div (click)="FilterType(item)" class="whitespace-nowrap rounded-lg p-1 text-white {{GetNameType(item.value)?.bg || 'bg-slate-600'}}">
                        {{GetNameType(item.value)?.Title || "Không có mô tả"}} ({{CountListType(item)}})
                    </div>
    
                }
                </div>       
            <div class="relative w-full overflow-auto cursor-pointer">
                @for (item of ListHotro(); track $index) {
                    <a [href]="['admin/hotro'+item.id]" [routerLink]="item.id" routerLinkActive="bg-slate-100"  class="flex flex-row space-x-2 items-center hover:bg-slate-100 rounded-lg">
                        @if(item?.Nguoitao?.avatar) {
                            <img src="{{item?.Nguoitao?.avatar?.url}}" class="w-8 h-8 rounded-full" />
                        }
                        @else {
                            <span class="text-[48px] material-symbols-outlined"> account_circle</span>
                        }
                        <div class="w-full flex flex-col space-y-1 p-2">
                            <div class="w-full flex flex-row items-center space-x-2 justify-between">
                                <div class="text-xs italic">{{item?.Hoten||'Chưa Có Tên'}}</div> 
                                <!-- <span class="text-sm material-symbols-outlined">attachment</span> -->
                                <div class="text-xs italic">{{item?.CreateAt|date:'dd/MM/yyyy'}}</div>
                            </div>
                            <div class="font-bold">{{item.Title}}</div>
                            <div><span class="rounded-lg p-1 text-white {{GetNameType(item.Type)?.bg||'bg-slate-600'}}">{{GetNameType(item.Type)?.Title||"Không có mô tả"}}</span></div>
                        </div>
                    </a>

                }
                @empty {
                    <div class="p-2 text-center text-red-700 font-bold">Không tìm thấy dữ liệu.</div>
                }
                <div>

                </div>
            </div>
        </div>
    </div>
</mat-drawer-container>

<ng-template #dialogCreateTemplate>
    <h2 mat-dialog-title>Tạo Mới Hỗ Trợ</h2>
    <mat-dialog-content>
     <div class="lg:min-w-[400px] w-full h-full flex flex-col space-y-8 items-center p-4">
         <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
            <mat-label>Tiêu Đề</mat-label>
            <input matInput [(ngModel)]="Detail.Title" [ngModelOptions]="{ standalone: true }" placeholder="Vui lòng Nhập Tiêu Đề" />
         </mat-form-field>
         
         <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
           <mat-label>Danh Mục</mat-label>
           <mat-select [(ngModel)]="Detail.Type" [ngModelOptions]="{ standalone: true }">
             <div class="w-full flex flex-col">
               <mat-form-field appearance="outline" class="w-full p-2" subscriptSizing="dynamic">
                 <input matInput (input)="DoFindKhachhang($event)" placeholder="Tìm Kiếm" />
               </mat-form-field>
               <div class="overflow-y-auto max-h-44">
                 @for (item of FilterListType; track item.id) {
                   <mat-option [value]="item.value">{{item.Title}}</mat-option>
                  }
                  @empty {
                   <div class="p-2 text-center text-red-700 font-bold">Không tìm thấy dữ liệu.</div>
                 }
               </div>
             </div>
           </mat-select>
         </mat-form-field>
     </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-flat-button color="warn" mat-dialog-close="false">Đóng</button>
      <button mat-flat-button color="primary" (click)="create()">Tạo</button>
    </mat-dialog-actions>
  </ng-template>