<div class="w-full grid lg:grid-cols-2 lg:gap-8 lg:p-8 p-4">
    <div class="m-auto lg:max-w-80" [innerHTML]="Detail.Content"></div>
    <div class="w-[560px] h-[315px] m-auto">
        <iframe class="m-auto" src="https://www.youtube.com/embed/RyNEwlb57ZY?si=N_NqnPe6xMW9uZck"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>