<div class="w-full grid grid-cols-2 gap-8 p-8">
    <div class="m-auto max-w-80" [innerHTML]="Detail.Content"></div>
    <div>
        <iframe class="m-auto" width="560" height="315" src="https://www.youtube.com/embed/RyNEwlb57ZY?si=N_NqnPe6xMW9uZck"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>