<div class="w-full mx-auto bg-gray-100 rounded-lg shadow p-4">
  <h2 class="text-2xl font-bold mb-6">Đổi mật khẩu</h2>
  <form class="space-y-6">
    <div class="grid grid-cols-1 gap-6">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Mật khẩu hiện tại</mat-label>
        <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" id="currentPassword" name="currentPassword" [(ngModel)]="user.oldpass">
        <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword">
          <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Mật khẩu mới</mat-label>
        <input matInput [type]="hideNewPassword ? 'password' : 'text'" id="newPassword" name="newPassword" [(ngModel)]="user.newpass">
        <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
          <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Xác nhận mật khẩu mới</mat-label>
        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" id="confirmPassword" name="confirmPassword" [(ngModel)]="user.confirmnewpass">
        <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
          <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  
    <div class="flex justify-end">
      <button (click)="ChangePass()" mat-raised-button color="primary" type="submit" class="w-full sm:w-auto">Đổi mật khẩu</button>
    </div>
  </form> 
</div>




