<div class="flex flex-col space-y-4 p-4">
  <div class="w-full mx-auto bg-[#F7E6E9] rounded-lg shadow overflow-hidden">
    <!-- Header -->
    <div class="relative col-span-2">
      <img src="https://png.pngtree.com/thumb_back/fw800/background/20240103/pngtree-vibrant-foliage-a-green-textured-background-of-banana-tree-leaves-image_13865143.png" alt="cover" class="w-full h-48 object-cover">
      <div class="absolute bottom-4 left-4 flex items-center">
        <img src="https://png.pngtree.com/thumb_back/fw800/background/20240103/pngtree-vibrant-foliage-a-green-textured-background-of-banana-tree-leaves-image_13865143.png" alt="avatar" class="w-20 h-20 rounded-full border-4 border-white shadow-lg">
        <div class="ml-4">
          <h2 class="text-xl font-bold text-white">Jaydon Frankie</h2>
          <p class="text-sm text-gray-200">CTO</p>
        </div>
      </div>
    </div>
    <div class="border-t px-6 py-4 flex items-center justify-between">
      <div class="flex space-x-6">
        <button class="flex items-center text-gray-700 font-medium hover:text-black">
          <span class="material-icons mr-2">account_circle</span> Profile
        </button>
        <button class="flex items-center text-gray-500 hover:text-black">
          <span class="material-icons mr-2">favorite</span> Followers
        </button>
        <button class="flex items-center text-gray-500 hover:text-black">
          <span class="material-icons mr-2">group</span> Friends
        </button>
        <button class="flex items-center text-gray-500 hover:text-black">
          <span class="material-icons mr-2">collections</span> Gallery
        </button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>


